body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 1rem;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  min-width: 25%;
  line-height: 2em;
  background-color: #1d9a00;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

#drop-zone {
  font-size: 5em;
  background-color: #2d2d2d;
  color: #fff;
  border-radius: 12px;
  align-self: stretch;
  border: 3px dashed;
  text-align: center;
  line-height: 50vh;
}

#go-button:active {
  transition: all 0.2s ease-in-out;
  transform: translateY(2px);
}

#go-button:disabled {
  background-color: #a3a3a3;
}

#go-button:disabled:active {
  transform: none;
}

#progress-board {
  text-align: center;
}
